{% extends 'base.html.twig' %}

{# Title of the site followed by the page name #}
{% block title %}
 {{ parent() }}
{% endblock %}



{% block header %}
    {{ render(controller('App\\Controller\\ComponentController:header', {'template_name': template_name , 'api_key': api_key } )) }}
{% endblock %}

    {% block body %}
        <main>
            {% block content %}
            {% endblock %}
        </main>
    {% endblock %}

{% block footer %}
    {{ render(controller('App\\Controller\\ComponentController:footer', {'template_name': template_name , 'api_key': api_key } )) }}
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/'~template_name~'/css/app.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/'~template_name~'/js/app.js') }}"></script>
{% endblock %}